.effect-holder {
  height: auto;
  /* width: calc(33.3% - 1rem); */
  border-radius: 16px;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(image.png) !important;
}
.tra-menu .wsmainfull.scroll1 {
  background-color: transparent !important;
}

.tra-menu .wsmainfull.scroll {
  -webkit-box-shadow: 10px 10px 40px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 10px 10px 40px 0px rgba(230, 230, 230, 1);
  box-shadow: 10px 10px 40px 0px rgba(230, 230, 230, 1);
}

.dropdown-style {
  margin: 0 1rem 0 0;
  background-color: #ffffff7d !important;
  margin: 2rem;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  width: calc(100% - 4rem);
  color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(33px) !important;
  backdrop-filter: blur(33px) !important;
  background-blend-mode: overlay !important;
  display: flex;
  align-items: center;
}

.dropdown-style > img {
  width: 32px;
  margin: 0 1rem 0 0;
}
